.App-header {
  text-align: center;
  padding: 100px 0;
  border-bottom: 1px solid black;
}

.App-header a {
  text-decoration: none;
  color: black;
  font-size: 50px;
}
.App-header a:hover {
  font-weight: 700;
}
.App-main {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  width: 100%;
}

.App-routes {
  margin: 10px;
}

.Main-add {
  width: 200px;
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
}

.Main-add:hover {
  font-weight: 700;
}

.App__form-title,
.App__form-group {
  margin: 10px;
}

.App__button {
  width: 125px;
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  text-decoration: none;
  color: black;
  text-align: center;
}

.App__button:hover {
  font-weight: 700;
}
